
*{
  box-sizing: border-box;
}
hr {
  color: blue;
}
.nav{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.nav a {
  color:inherit;
}
.nav ul {
  
  list-style: none;
  display: flex;
  gap: 1rem;
}
.left .skills-section{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
 
}
.left .skills .skills-list{
  margin-top: 15px;
}
.left .skills .skills-list .skills-item .full{
 width: 100%;
 height: 15px;
 background-color: beige;
}
.left .skills .skills-list .skills-item .full .percent-first{
height: 100%;
width: 90%;
}

.foot{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.foot .liens{
  display: flex;
  flex-direction: column;
}
.foot .realisation{
  display:flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
